<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../js_project.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.1/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <!-- header section -->
    <section id="header"></section>

      <!-- project part -->







      <!-- project part end  -->

      <!-- footer section  -->
      <section id="footer"></section>
      <!-- footer section  -->

    <script src="https://use.fontawesome.com/03f8a0ebd4.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    
    <script src="../project-header.js"></script>
    <script src="../project-footer.js"></script>
    <script src="../js_project.js"></script>
</body>
</html>